{{!< base/base}}

<div class='server-error-page page'>
    {{> 'error/error'
            title="500"
            subtitle="Мы уже фиксим"
            actionHref="/"
            actionText="Назад к чатам"
    }}
</div>