{{!< base/base}}

<div class='user-details user-page page'>
  <div class='user-page__sidebar'>
    {{> 'sidebar-back/sidebar-back' }}
  </div>

  <div class='user-page__main'>
    {{> 'user-info/user-info' }}
  </div>
</div>
