<div class="user-info-head">
  <div class='user-info-head__avatar'>
    {{#if image}}
      <img src='{{image}}' alt='Avatar'>
    {{/if}}

    <div class='user-info-head__change-avatar'>
      <form>
        <span>Поменять аватар</span>
        <input type='file' name='avatar'>
      </form>

    </div>
  </div>

  {{#if isShowName}}
    <h2 class='user-info-head__user-name'>Иван</h2>
  {{/if}}
</div>