.button {
  cursor: pointer;
  background: var(--blue);
  border-radius: 8px;
  text-align: center;
  color: var(--white);
  border: 0;
  outline: 0;
  padding: 12px;

  /* width: 280px; */
  max-width: 100%;
}

.button_link {
  background: var(--trasnp);
  color: var(--blue);
  padding: 0;
}

.button_link:hover {
  text-decoration: underline;
}
