{{!< base/base}}

<div class='user-settings user-page page'>
    <div class='user-page__sidebar'>
        {{> 'sidebar-back/sidebar-back' }}
    </div>

    <div class='user-page__main'>
        {{> 'user-edit/user-edit' }}
    </div>
</div>
