:root {
  --black: #1e1e1e;
  --blue: #3369f3;
  --white: #fff;
  --bright-gray: #eaeaea;
  --bright-gray-2: #efefef;
  --spanish-gray: #999;
  --lotion: #fbfbfb;
  --lavender: #e4edfd;
  --cultured: #f8f8f8;
  --red: #f00;
}
