:root {
    --black: #1E1E1E;
    --blue: #3369F3;
    --white: #FFFFFF;
    --bright-gray: #EAEAEA;
    --bright-gray-2: #EFEFEF;
    --spanish-gray: #999999;
    --lotion: #FBFBFB;
    --lavender: #E4EDFD;
    --cultured: #F8F8F8;
    --red: #FF0000;
}