<div class='chat-message {{#if isMyMessage}}chat-message_my-message{{/if}}'>

    <p class='chat-message__text'>{{text}}</p>


    <span class='chat-message__date'>
    {{#if isMyMessage}}
        <img src='../../../static/images/check-mark.svg' alt='Check mark'>
    {{/if}}

        {{dateMessage}}
  </span>
</div>