.chat-message {
    padding: 10px;
    background-color: #F8F8F8;
    max-width: 40%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 12px;
}

.chat-message.chat-message_my-message {
    align-self: flex-end;
    background-color: #E4EDFD;
}

.chat-message.chat-message_my-message .chat-message__date {
    color: #3369F3;
}

.chat-message .chat-message__text {
    font-size: 12px;
    line-height: 15px;
    color: #1E1E1E;
    margin: 0;
    display: inline-flex;
}

.chat-message .chat-message__date {
    font-size: 9px;
    line-height: 9px;
    color: #999999;
    margin-left: 10px;
    align-self: flex-end;
    justify-self: flex-end;
    align-items: center;
    display: inline-flex;
    float: right;
    margin-top: 5px;
}

.chat-message .chat-message__date img {
    margin-right: 4px;
}