.chat-message {
  padding: 10px;
  background-color: var(--cultured);
  max-width: 40%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 12px;
}

.chat-message.chat-message_my-message {
  align-self: flex-end;
  background-color: var(--lavender);
}

.chat-message .chat-message__text {
  font-size: 12px;
  line-height: 15px;
  color: var(--black);
  margin: 0;
  display: inline-flex;
}

.chat-message .chat-message__mark {
  width: 10px;
  height: 10px;
  background-image: url('../../../static/images/check-mark.svg');
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 4px;
}

.chat-message .chat-message__date {
  font-size: 9px;
  line-height: 9px;
  color: var(--spanish-gray);
  margin-left: 10px;
  align-self: flex-end;
  justify-self: flex-end;
  align-items: center;
  display: inline-flex;
  float: right;
  margin-top: 5px;
}

.chat-message.chat-message_my-message .chat-message__date {
  color: var(--blue);
}
