{{!< base/base}}

<div class='user-change-password user-page page'>
    <div class='user-page__sidebar'>
        {{> 'sidebar-back/sidebar-back' }}
    </div>

    <div class='user-page__main'>
        {{> 'user-change-pass/user-change-pass' }}
    </div>
</div>
