<div class="chat-box">

    <div class="chat-box__chat-list">
        {{> 'chat-list/chat-list'}}
    </div>

    <div class="chat-box__chat-details">
        {{> 'chat-details/chat-details' isEmpty=false}}
    </div>

</div>