<div class="chat-details">

    {{#if isEmpty}}
        <span class='chat-details__empty-message'>
            Выберите чат чтобы отправить сообщение
        </span>
    {{/if}}


    <div class="chat-details__chat">
        <div class="chat-details__header">
            <a href='../../pages/user-details/user-details.hbs'
               class="chat-details__avatar">
                {{> 'user-avatar/user-avatar' image=null }}
            </a>

            <a href='../../pages/user-details/user-details.hbs'
               class="chat-details__user-name">
                Genadii
            </a>

            <button class="chat-details__menu">
                <img src='../../../static/images/menu.svg' alt='Menu'>
            </button>
        </div>

        <div class="chat-details__messages">
            {{> 'chat-message/chat-message' dateMessage='11.05.2022' text='Hello!'}}

            {{> 'chat-message/chat-message' dateMessage='11.05.2022' text='Hello!' isMyMessage=true}}

            {{> 'chat-message/chat-message'
                    dateMessage='11.05.2022'
                    text='Привет! Смотри, тут всплыл интересный кусок лунной космической истории —
        НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов
        на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову
        говоря, все тушки этих камер все еще находятся на поверхности Луны, так как
        астронавты с собой забрали только кассеты с пленкой. Хассельблад в итоге адаптировал
         SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали.
         Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.'}}

            {{> 'chat-message/chat-message' dateMessage='11.05.2022' text='Hello!'}}

            {{> 'chat-message/chat-message' dateMessage='11.05.2022' text='Hello!' isMyMessage=true}}

            {{> 'chat-message/chat-message' dateMessage='11.05.2022' text='Hello!' isMyMessage=true}}
            {{> 'chat-message/chat-message' dateMessage='11.05.2022' text='Hello!' isMyMessage=true}}
            {{> 'chat-message/chat-message' dateMessage='11.05.2022' text='Hello!' isMyMessage=true}}
            {{> 'chat-message/chat-message' dateMessage='11.05.2022' text='Hello!' isMyMessage=true}}
            {{> 'chat-message/chat-message' dateMessage='11.05.2022' text='Hello!' isMyMessage=true}}
            {{> 'chat-message/chat-message' dateMessage='11.05.2022' text='Hello!' isMyMessage=true}}
            {{> 'chat-message/chat-message' dateMessage='11.05.2022' text='Hello!' isMyMessage=true}}
            {{> 'chat-message/chat-message' dateMessage='11.05.2022' text='Hello!' isMyMessage=true}}
            {{> 'chat-message/chat-message' dateMessage='11.05.2022' text='Hello!' isMyMessage=true}}
            {{> 'chat-message/chat-message' dateMessage='11.05.2022' text='Hello!' isMyMessage=true}}
            {{> 'chat-message/chat-message' dateMessage='11.05.2022' text='Hello!' isMyMessage=true}}
        </div>

        <div class="chat-details__footer">
            <button class="chat-details__button-clip">
                <img src='../../../static/images/clip.svg' alt='Clip'>
            </button>

            <form class="chat-details__form" action="#">
                <input class="chat-details__input" type="text" name="message" placeholder="Сообщение">
                <button class="chat-details__button-send">
                    <img src='../../../static/images/send.svg' alt='Send'>
                </button>
            </form>
        </div>
    </div>

</div>