
.chat-input {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
}

.chat-input::before {
  content: '';
  position: absolute;
  left: 20px;
  right: 20px;
  top: 0;
  height: 1px;
  background-color: var(--bright-gray);
}

.chat-input .chat-input__button-send {
  width: 28px;
  height: 28px;
  border: 0;
  object-fit: cover;
  margin-left: 10px;
  background-color: unset;
  background-image: url('../../../static/images/send.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.chat-input input {
  min-height: 32px;
  background: var(--bright-gray-2);
  border-radius: 30px;
  border: 0;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  flex-grow: 1;
}

.chat-input input::placeholder {
  color: var(--spanish-gray);
}

.chat-input .chat-input__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 20px;
}

.chat-input .chat-input__button-clip {
  width: 32px;
  height: 32px;
  border: 0;
  object-fit: cover;
  margin-left: 20px;
  background-color: unset;
  background-image: url('../../../static/images/clip.svg');
  background-repeat: no-repeat;
  background-position: center;
}
